.spliter {
    background: #3A1C71;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 10px;
    width: 100%;
    margin: 0;
}

.sources-select {
    margin: 0px;
    padding: 0;
    list-style: none;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.is-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.card {
    height: 100%;
}

video-card {
    height: 100%;
    margin: 10px 0;
}

.urlPlayer {
    margin-top: -30px;
    width: 100% !important;
    height: 340px !important;
}

.error {
    color: #f1155e;
    text-align: center;
    margin-top: 25%;
    font-size: 24px;
}