.spliter {
    background: #3A1C71;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 10px;
    width: 100%;
    margin:0;
    margin-bottom: 15px;
}

.sources-select {
    margin: 0px;
    padding: 0;
    list-style: none;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.cart {
    margin-left:15px;
}

.card:first-child {
    margin-top:0;
}

.product-img {
    position: absolute;
    top: 30%;
    left:30px;
}

.image-div {
    position: relative;
}

.store-data {
    margin-top:25px;        
}

.card {
    margin:10px 0;
}

.delete-btn {
    margin-bottom: 15px;
}

.row.is-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

product-view  form {
    border: 1px solid #e3e3e3;
    padding:15px;
}

product-view label {
    display: block;
}

.error {
    color: #f1155e;
    text-align: center;
    margin-top: 25%;
    font-size: 24px;
}