<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{$ctrl.data.title || "Some Random Video"}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Total views: {{$ctrl.data.views}}</h6>
        <!--<video-player videoid="$ctrl.data.videoId" videosrc="$ctrl.data.url" type="$ctrl.data.source"></video-player>-->

        <facebook videoid="{{$ctrl.data.videoId}}" ng-if="$ctrl.data.source=='facebook'"></facebook>
        <youtube videoid="{{$ctrl.data.videoId}}" ng-if="$ctrl.data.source=='youtube'"></youtube>
        <html5vid url="{{$ctrl.data.url}}" ng-if="$ctrl.data.source=='url'"></html5vid>

    </div>
</div>